@charset "utf-8";
body { padding: 50px;}
div.product_view {position: relative;padding: 0 0 0 395px; width; 1000px; box-sizing: border-box;}
div.product_view .png {position: absolute; left; 0; top; 0;}
